{% extends 'base.html.twig' %}

{% block title %}{{ 'title.add' | trans }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-5">{{ 'product.add_product' | trans }}</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                            <div class="my-3">
                                <button class="btn btn-primary">{{ 'product.add' | trans }}</button>
                                <a href="{{ path('product_list') }}" class="btn btn-warning">{{ 'product.cancel' | trans }}</a>
                            </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}