<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="{{ path('home') }}">
            <img class="navbar-brand" src="{{ asset('img/OurGainzLogo.png') }}" alt="" style="max-width:50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExpander" aria-controls="navbarExpander" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ asset('img/hamburger-menu.png')}}" style="max-width:30px;" alt="Menu">
        </button>
        <div class="collapse navbar-collapse" id="navbarExpander">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">{{ "navbar.home" | trans }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown" role="button">{{ "navbar.dropdown" | trans }}</a>
                        <div class="dropdown-menu bg-primary text-center" style="border: 1px solid white">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">{{ "navbar.dashboard" | trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="{{ path('admin_users') }}">{{ "navbar.admin" | trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="{{ path('admin_orders') }}">{{ "navbar.orders" | trans }}</a>
                        </div>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_list') }}">{{ "navbar.products" | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">{{ "navbar.logout" | trans }}</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="{{ path('cart_view') }}">
                            <img src="{{ asset('img/cart.png') }}" alt="Cart" style="width: 40px;">
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown" role="button">{{ "navbar.connect" | trans }}</a>
                        <div class="dropdown-menu bg-primary text-center" style="border: 1px solid white">
                            <a class="nav-link" href="{{ path('login') }}">{{ "navbar.login" | trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="{{ path('register') }}">{{ "navbar.register" | trans }}</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ app.request.locale == 'en' ? asset('img/english.png') : asset('img/français.png') }}" alt='{{ "navbar.langue" | trans }}' style="width: 40px;">
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="languageDropdown" id="languageDropdownMenu">
                        {% if app.request.locale == 'en' %}
                            <li>
                                <a class="dropdown-item d-flex" onclick="changeLanguage('{{ path('set_language', {'lang': 'fr'}) }}');">
                                    <img src="{{ asset('img/français.png') }}" alt="Français" style="width: 40px;">
                                </a>
                            </li>
                        {% elseif app.request.locale == 'fr' %}
                            <li>
                                <a class="dropdown-item d-flex" onclick="changeLanguage('{{ path('set_language', {'lang': 'en'}) }}');">
                                    <img src="{{ asset('img/english.png') }}" alt="English" style="width: 40px;">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="navbar-nav me-auto align-items-end">
                        <a class="nav-link d-flex" href="{{ path('cart_view') }}">
                            <img src="{{ asset('img/cart.png') }}" alt="Cart" style="width: 40px;">
                            <div class="position-absolute" style="right: 35px;">
                                <span class="badge bg-danger rounded-pill">
                                    0
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>