<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="{{ path('home') }}">
            <img class="navbar-brand" src="{{ asset('img/MyGainzLogo.png') }}" alt="" style="max-width:50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ asset('img/hamburger-menu.png')}}" style="max-width:30px;" alt="Menu">
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">{{ "navbar.home" | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_list') }}">{{ "navbar.products" | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">{{ "navbar.register" | trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ app.request.locale == 'en' ? asset('img/english.png') : asset('img/français.png') }}" alt='{{ "navbar.langue" | trans }}' style="width: 40px;">
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="languageDropdown" id="languageDropdownMenu">
                        {% if app.request.locale == 'en' %}
                            <li>
                                <a class="dropdown-item d-flex" onclick="changeLanguage('{{ path('set_language', {'lang': 'fr'}) }}');">
                                    <img src="{{ asset('img/français.png') }}" alt="Français" style="width: 40px;">
                                </a>
                            </li>
                        {% elseif app.request.locale == 'fr' %}
                            <li>
                                <a class="dropdown-item d-flex" onclick="changeLanguage('{{ path('set_language', {'lang': 'en'}) }}');">
                                    <img src="{{ asset('img/english.png') }}" alt="English" style="width: 40px;">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>